swagger: '2.0'
schemes:
  - http
  - https
host: app.overall.pe
basePath: /UserRestApi/api/v1
info:
  description: |
    Esta api ofrece servicios de integración para clientes internos de la organización
  version: 1.0.0
  title: Overall HRM API
  x-logo:
    url: 'https://www.overall.pe/img/overall_blue.svg'
produces:
  - application/json
  - application/xml
  - text/csv
consumes:
  - application/json
  - application/xml
tags:
  - name: CTS
    description: Listado de pagos cts
  - name: Adelantos y préstamos
    description: Listado de adelantos y prestamos
paths:
  /echo:
    post:
      tags:
        - Echo
      summary: Echo test
      description: Receive the exact message you've sent
      operationId: echo
      parameters:
        - name: message
          in: body
          description: Echo payload
          required: true
          schema:
            type: string
            example: Hello world!
      responses:
        '200':
          description: OK
          examples:
            application/json: Hello world!
          schema:
            type: string
          headers:
            X-Rate-Limit:
              type: integer
              format: int32
              description: calls per hour allowed by the user
            X-Expires-After:
              type: string
              format: date-time
              description: date in UTC when token expires
      x-code-samples:
        - lang: 'C#'
          source: |
            API.v1.Echo echo = new API.v1.Echo();
            echo.message = "Hello World!");
            EchoResponse response = echo.post();
            if (response.statusCode == HttpStatusCode.Created)
            {
              // Success
            }
            else
            {
              // Something wrong -- check response for errors
              Console.WriteLine(response.getRawResponse());
            }
        - lang: PHP
          source: |
            $form = new \API\Entities\Echo();
            $form->setMessage("Hello World!");
            try {
                $pet = $client->echo()->post($form);
            } catch (UnprocessableEntityException $e) {
                var_dump($e->getErrors());
            }
  /cts:
    post:
      tags:
        - CTS
      parameters:
        - name: request
          in: body
          schema:
            type: object
            properties:
              anio_periodo:
                description: periodo en formato yyyy
                type: string
                minLength: 4
                example: 9999
              codigo_trab:
                description: código del trabajador
                type: string
                minLength: 1
                example: 000680
              no_cia:
                description: código de compañía
                type: string
                minLength: 1
                example: 2
              dni:
                description: documento de identidad
                type: string
                minLength: 8
                example: 20401821
      responses:
        '200':
          description: Respuesta de éxito
          schema:
            type: object
            properties:
              error:
                type: integer
                example: 0
              message:
                type: string
                example: ok
              data:
                type: array
                items:
                  $ref: '#/definitions/CtsResponse'
  /advance_loan:
    post:
      tags:
        - Adelantos y préstamos
      parameters:
        - name: request
          in: body
          schema:
            type: object
            properties:
              no_cia:
                description: código de compañía
                type: string
                minLength: 1
                example: 2
              estado:
                description: estado
                type: string
                minLength: 4
                example: 2
              dni:
                description: documento de identidad
                type: string
                minLength: 8
                example: 20401821
      responses:
        '200':
          description: Respuesta de éxito
          schema:
            type: object
            properties:
              error:
                type: integer
                example: 0
              message:
                type: string
                example: ok
              data:
                type: array
                items:
                  $ref: '#/definitions/AdePreResponse'
definitions:
  CtsResponse:
    type: object
    properties:
      no_cia:
        description: código de compañía
        type: string
        minLength: 2
        example: 2
      consultora:
        description: nombre de la consultora
        type: string
        minLength: 1
        example: OVERALL STRATEGY S.A.C.
      desc_cliente:
        description: nombre del cliente
        type: string
        minLength: 1
        example: OVERALL STRATEGY S.A.C.
      anio_periodo:
        description: periodo en formato yyyy
        type: string
        minLength: 4
        example: 2019
      mes_letras:
        description: descripción del mes
        type: string
        minLength: 1
        example: MAYO
      cod_operacion:
        description: código de operación
        type: string
        minLength: 1
        example: 00914
      sec_trab_ped:
        description: sec trab ped
        type: string
        minLength: 1
        example: 584
      id_periodo:
        description: código de periodo en formato yyyyMM
        type: string
        minLength: 1
        example: 201905
      valor_concepto:
        description: código de periodo en formato yyyyMM
        type: string
        minLength: 1
        example: 2000
      nombre_documento:
        description: nombre del documento
        type: string
        minLength: 1
        example: 'https://s3.amazonaws.com/overall-files/Boletas/02/5329b9a3104bd70f6173981f8d5ce4543bb4w22b1be2abfd1daff4d09f1f1d1a_FE.pdf'
  AdePreResponse:
    type: object
    properties:
      no_cia:
        description: código de compañía
        type: string
        minLength: 2
        example: 2
      cod_operacion:
        description: código de operación
        type: string
        minLength: 1
        example: 00914
      nom_cia:
        description: nombre de compañía
        type: string
        minLength: 2
        example: OVERALL STRATEGY S.A.C.
      sec_trab_ped:
        description: sec trab ped
        type: string
        minLength: 1
        example: 584
      cod_solicitud:
        description: código de solicitud
        type: string
        minLength: 1
        example: 1
      cod_concepto:
        description: código de concepto
        type: string
        minLength: 1
        example: B75
      cod_proceso:
        description: código de proceso
        type: string
        minLength: 1
        example: null
      des_concepto:
        description: descripción de concepto
        type: string
        minLength: 1
        example: DESCUENTO COMEDOR
      cod_tipo_prestamo:
        description: tipo de préstamo
        type: string
        minLength: 1
        example: C
      desc_tipo_prestamo:
        description: descripción de préstamo
        type: string
        minLength: 1
        example: Consumo
      fecha_solicitud:
        description: fecha de solicitud
        type: string
        minLength: 1
        example: 09/09/2019
      moneda_solicitud:
        description: descripción de moneda
        type: string
        minLength: 1
        example: SOL
      monto_solicitud:
        description: monto de solicitud
        type: string
        minLength: 1
        example: 4.8
      fec_ini_dscto:
        description: fecha inicial de descuento
        type: string
        minLength: 1
        example: '09/09/2019 00:00:00'
      nro_cuotas:
        description: número de cuotas
        type: string
        minLength: 1
        example: 1
      ind_intereses:
        description: indicador de interés
        type: string
        minLength: 1
        example: 'N'
      porc_interes:
        description: porcentaje de interés
        type: string
        minLength: 1
        example: null
      ind_remuneracion:
        description: indicador de remuneración
        type: string
        minLength: 1
        example: 1
      ind_quincena:
        description: indicador de quincena
        type: string
        minLength: 1
        example: 0
      ind_vacaciones:
        description: indicador de vacaciones
        type: string
        minLength: 1
        example: 0
      ind_gratificacion:
        description: indicador de gratificación
        type: string
        minLength: 1
        example: 0
      monto_descontado:
        description: monto descontado
        type: string
        minLength: 1
        example: 0
      saldo:
        description: saldo
        type: string
        minLength: 1
        example: '4,80'
      aprobado_por:
        description: usuario de aprobación
        type: string
        minLength: 1
        example: ADMINISTRADOR
      feca_aprob:
        description: fecha de aprobación
        type: string
        minLength: 1
        example: '9/09/2019 00:00:00'
      autorizado:
        description: flag de autorización
        type: string
        minLength: 1
        example: S
      estado:
        description: estado
        type: string
        minLength: 1
        example: PENDIENTE
