# This is an **example** API to demonstrate features of OpenAPI specification.
# It doesn't cover all OpenAPI features. For more full example check out: https://github.com/APIs-guru/petstore_extended

swagger: '2.0'
# You should specify common part of your endpoints in the following format:
#   <schemes>://<host><basepath>
schemes:
  - http # Remove if your API doesn't support HTTP
  - https # Remove if your API doesn't support HTTPS
host: app.overall.pe # Replace with your hostname. You can also specify port e.g. example.com:777
basePath: /UserRestApi/api/v1 # Replace with your basePath. Note: SHOULD begin with '/'.
info:
  # Describe your API here, you can use GFM (https://guides.github.com/features/mastering-markdown) here
  description: |
    Esta api ofrece servicios de integración para clientes internos de la organización
    

  version: '1.0.0' # Your API version
  # It can be any string but it is better to use semantic versioning: http://semver.org/
  # Warning: OpenAPI require version to be string, but without quotation YAML can recognize it as number.

  title: Overall HRM API # Replace with your API title
  # Keep it simple. Don't add "API" or version at the end of the string.

  #termsOfService: 'https://app.overall.pe/UserRestApi/' # [Optional] Replace with an URL to your ToS
  #contact:
    #email: jrojast@overall.com.pe # [Optional] Replace with your contact email
    #url: 'http://example.com/contact' # [Optional] Replace with link to your contact form
  x-logo:
    url: 'https://www.overall.pe/img/overall_blue.svg'
produces:
  # List of mime types your API endpoints can return.
  # This is a global default. You can OVERWRITE it in each specific operation.
  # Remove the ones not used in your API
  - application/json
  - application/xml
  - text/csv
  # you can add any mime type your API produces to the list
consumes:
  # List of mime types your API endpoints consumes.
  # This is a global default. You can OVERWRITE it in each specific operation.
  # Remove the ones not supported by your API
  - application/json
  - application/xml
  # you can add any mime type your API consumes to the list

# A list of tags used by the specification with additional metadata.
# The order of the tags can be used to reflect on their order by the parsing tools.
tags:
  - name: CTS
    description: Listado de pagos cts
  - name: Adelantos y préstamos
    description: Listado de adelantos y prestamos

# Holds the relative paths to the individual endpoints. The path is appended to the
# basePath in order to construct the full URL. 
paths:
  '/cts':
      post:
        tags:
          - CTS
        #summary: Listado de pagos cts
        #description: Listado de pagos cts
        #operationId: echo
        parameters:
          - name: request
            in: body
            schema:
              type: object
              properties:
                anio_periodo:
                  description: periodo en formato yyyy
                  type: string
                  minLength: 4
                  example: 9999
                codigo_trab:
                  description: código del trabajador
                  type: string
                  minLength: 1
                  example: 000680
                no_cia:
                  description: código de compañía
                  type: string
                  minLength: 1
                  example: 02
                dni:
                  description: documento de identidad
                  type: string
                  minLength: 8
                  example: 20401821
        responses:
          '200':
            description: 'Respuesta de éxito'
            schema:
              type: object
              properties:
                error:
                  type: integer
                  example: 0
                message:
                  type: string
                  example: ok
                data:
                  type: array
                  items: 
                    $ref: '#/definitions/CtsResponse'
            
  '/advance_loan':
      post:
        tags:
          - Adelantos y préstamos
        #summary: Listado de pagos cts
        #description: Listado de pagos cts
        #operationId: echo
        parameters:
          - name: request
            in: body
            schema:
              type: object
              properties:
                no_cia:
                  description: código de compañía
                  type: string
                  minLength: 1
                  example: 02
                estado:
                  description: estado
                  type: string
                  minLength: 4
                  example: 2
                dni:
                  description: documento de identidad
                  type: string
                  minLength: 8
                  example: 20401821
        responses:
          '200':
            description: 'Respuesta de éxito'
            schema:
              type: object
              properties:
                error:
                  type: integer
                  example: 0
                message:
                  type: string
                  example: ok
                data:
                  type: array
                  items: 
                    $ref: '#/definitions/AdePreResponse'
# An object to hold data types that can be consumed and produced by operations.
# These data types can be primitives, arrays or models.
definitions:
  CtsResponse:
    type: object
    properties:
      no_cia:
        description: código de compañía
        type: string
        minLength: 2
        example: 02
      consultora:
        description: nombre de la consultora
        type: string
        minLength: 1
        example: OVERALL STRATEGY S.A.C.
      desc_cliente:
        description: nombre del cliente
        type: string
        minLength: 1
        example: OVERALL STRATEGY S.A.C.
      anio_periodo:
        description: periodo en formato yyyy
        type: string
        minLength: 4
        example: 2019
      mes_letras:
        description: descripción del mes
        type: string
        minLength: 1
        example: MAYO
      cod_operacion:
        description: código de operación
        type: string
        minLength: 1
        example: 00914
      sec_trab_ped:
        description: sec trab ped
        type: string
        minLength: 1
        example: 584
      id_periodo:
        description: código de periodo en formato yyyyMM
        type: string
        minLength: 1
        example: 201905
      valor_concepto:
        description: código de periodo en formato yyyyMM
        type: string
        minLength: 1
        example: 2000.00
      nombre_documento:
        description: nombre del documento
        type: string
        minLength: 1
        example: "https://s3.amazonaws.com/overall-files/Boletas/02/5329b9a3104bd70f6173981f8d5ce4543bb4w22b1be2abfd1daff4d09f1f1d1a_FE.pdf"
  AdePreResponse:
    type: object
    properties:
      no_cia:
        description: código de compañía
        type: string
        minLength: 2
        example: 02
      cod_operacion:
        description: código de operación
        type: string
        minLength: 1
        example: 00914
      nom_cia:
        description: nombre de compañía
        type: string
        minLength: 2
        example: OVERALL STRATEGY S.A.C.
      sec_trab_ped:
        description: sec trab ped
        type: string
        minLength: 1
        example: 584
      cod_solicitud:
        description: código de solicitud
        type: string
        minLength: 1
        example: 1
      cod_concepto:
        description: código de concepto
        type: string
        minLength: 1
        example: B75
      cod_proceso:
        description: código de proceso
        type: string
        minLength: 1
        example: 
      des_concepto:
        description: descripción de concepto
        type: string
        minLength: 1
        example: DESCUENTO COMEDOR
      cod_tipo_prestamo:
        description: tipo de préstamo
        type: string
        minLength: 1
        example: C
      desc_tipo_prestamo:
        description: descripción de préstamo
        type: string
        minLength: 1
        example: Consumo
      fecha_solicitud:
        description: fecha de solicitud
        type: string
        minLength: 1
        example: 09/09/2019
      moneda_solicitud:
        description: descripción de moneda
        type: string
        minLength: 1
        example: SOL
      monto_solicitud:
        description: monto de solicitud
        type: string
        minLength: 1
        example: 4.80
      fec_ini_dscto:
        description: fecha inicial de descuento
        type: string
        minLength: 1
        example: 09/09/2019 00:00:00
      nro_cuotas:
        description: número de cuotas
        type: string
        minLength: 1
        example: 1
      ind_intereses:
        description: indicador de interés
        type: string
        minLength: 1
        example: N
      porc_interes:
        description: porcentaje de interés
        type: string
        minLength: 1
        example: 
      ind_remuneracion:
        description: indicador de remuneración
        type: string
        minLength: 1
        example: 1
      ind_quincena:
        description: indicador de quincena
        type: string
        minLength: 1
        example: 0
      ind_vacaciones:
        description: indicador de vacaciones
        type: string
        minLength: 1
        example: 0
      ind_gratificacion:
        description: indicador de gratificación
        type: string
        minLength: 1
        example: 0
      monto_descontado:
        description: monto descontado
        type: string
        minLength: 1
        example: 0
      saldo:
        description: saldo
        type: string
        minLength: 1
        example: 4,80
      aprobado_por:
        description: usuario de aprobación
        type: string
        minLength: 1
        example: ADMINISTRADOR
      feca_aprob:
        description: fecha de aprobación
        type: string
        minLength: 1
        example: 9/09/2019 00:00:00
      autorizado:
        description: flag de autorización
        type: string
        minLength: 1
        example: S
      estado:
        description: estado
        type: string
        minLength: 1
        example: PENDIENTE
        